@keyframes glitch {
  0%{
    text-shadow: -0.03em 0 0 rgba(255, 0, 0, 255),
                -0.01em 0.02em 0 rgba(0, 255, 0, 255),
                0.01em -0.03em 0 rgba(0, 0, 255, 255);
  }
  14%{
    text-shadow: -0.03em 0 0 rgba(255, 0, 0, 255),
                -0.01em 0.02em 0 rgba(0, 255, 0, 255),
                0.01em -0.03em 0 rgba(0, 0, 255, 255);
  }
  15%{
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 255),
                -0.02em -0.03em 0 rgba(0, 255, 0, 255),
                0.02em 0.04em 0 rgba(0, 0, 255, 255);
  }
  49%{
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 255),
                -0.02em -0.03em 0 rgba(0, 255, 0, 255),
                0.02em 0.04em 0 rgba(0, 0, 255, 255);
  }
  50%{
    text-shadow: 0.02em 0 0 rgba(255, 0, 0, 255),
                -0.03em 0.01em 0 rgba(0, 255, 0, 255),
                -0.02em 0.05em 0 rgba(0, 0, 255, 255);
  }
  99%{
    text-shadow: 0.02em 0 0 rgba(255, 0, 0, 255),
                -0.03em 0.01em 0 rgba(0, 255, 0, 255),
                -0.02em 0.05em 0 rgba(0, 0, 255, 255);
  }
  100%{
    text-shadow: -0.03em 0 0 rgba(255, 0, 0, 255),
                -0.01em 0.02em 0 rgba(0, 255, 0, 255),
                0.01em -0.03em 0 rgba(0, 0, 255, 255);
  }
}

@keyframes neonText-cyan-kf {
  0% {
    color: #ddffff;
    text-shadow: 0 0 0.1em #66ffff, 0 0 0.2em #00ffff, 0 0 0.3em #00ffff, 0 0 0.6em #00ffff;
  }

  100% {
    color: #eeffff;
    text-shadow: 0 0 0.1em #88ffff, 0 0 0.4em #44ffff, 0 0 0.5em #00ffff, 0 0 0.8em #00ffff;
  }
}

@keyframes neonText-red-kf {
  0% {
    color: #ff9988;
    text-shadow: 0 0 0.1em #ff7733, 0 0 0.2em #ff4422, 0 0 0.3em #ff2211, 0 0 0.6em #ff0000;
  }

  100% {
    color: #ffaa99;
    text-shadow: 0 0 0.1em #ffaa77, 0 0 0.2em #ff5533, 0 0 0.4em #ff3322, 0 0 0.8em #ff1111;
  }
}

@keyframes neonText-blue-kf {
  0% {
    color: #88aaff;
    text-shadow: 0 0 0.1em #6699ff, 0 0 0.2em #4477ff, 0 0 0.3em #2244ff, 0 0 0.6em #0000ff;
  }

  100% {
    color: #aaccff;
    text-shadow: 0 0 0.1em #88bbff, 0 0 0.2em #5588ff, 0 0 0.4em #3355ff, 0 0 1em #1111ff;
  }
}

@keyframes neonText-white-kf {
  0% {
    color: #ffffff;
    text-shadow: 0 0 0.1em #ffffff, 0 0 0.2em #ffffffc7, 0 0 0.3em #ffffff7e, 0 0 0.6em #ffffff3a;
  }

  100% {
    color: #ffffff;
    text-shadow: 0 0 0.1em #ffffff, 0 0 0.3em #ffffffc7, 0 0 0.6em #ffffff7e, 0 0 0.9em #ffffff3a;
  }
}

@keyframes left-to-right {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes shine {
  0% {
    top: -150%;
  }
  100% {
    top: 150%;
  }
}

@keyframes h-shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes loadingFade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
    width: 8px;
    height: 8px;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes floatFade {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    opacity: 0;
  }
}
