@import "animation.css";
@import "theme.css";
@import url('https://fonts.googleapis.com/css2?family=Bungee&&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply text-[rgba(var(--text-color))] font-jbmono cursor-default;
  }

  body {
    @apply bg-highlight relative;
  }

  button {
    @apply cursor-pointer;
  }
}

.pixiApp {
  @apply absolute top-[var(--canvas-top)] left-[var(--canvas-left)] hidden border-4 border-highlight rounded-2xl z-20;
}

@layer utilities {
  .card {
    @apply bg-gray-800 rounded-lg shadow-lg p-2;
  }

  .button {
    @apply bg-fuchsia-900 rounded-lg shadow-lg py-2 px-5 font-bold;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .polka-dot {
    @apply h-screen w-screen border-solid border-highlight bg-center;
    background-color: rgb(var(--dimmer-shadow));
    background-image: radial-gradient(rgba(var(--highlight-color)/0.4) 1px,
        transparent 1px);
    background-size: 20px 20px;
  }

  .highlight::before {
    @apply bg-accCyan;
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 40%;
    left: -2px;
    bottom: 0;
    z-index: -1;
  }

  .hover:hover {
    @apply bg-highlight text-dimshadow;
  }
}