/* default theme */
@layer base {
  :root {
    /* canvas variable */
    --canvas-top: 0px;
    --canvas-left: 0px;
    /* color variables */
    --highlight-color: 254 248 226;
    --shadow-color: 27 27 27;
    --dimmer-shadow: 36 36 36;
    --accent-red: 173 100 84;
    --accent-cyan: 95 146 143;
    --accent-yellow: 179 161 131;
    --accent-bri-yellow: 210 178 79;
    --accent-blue: 49 52 64;
    --accent-green: 106 153 98;
  }
}